<div>
    <h1>Top 10 Canciones</h1>
  </div>
  
  <!-- Listado de canciones -->
  <table mat-table class="mat-elevation-z8" [dataSource]="items">
  
    <!-- Columna de Título -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef># Título</th>
      <td mat-cell *matCellDef="let item" class="nombre">
        <!-- Se muestra el nombre del tema -->
        {{item.name}}
  
        <!-- Mostrar el iframe para cada canción -->
        <div class="detalles">
          <iframe [src]="item.uri | domseguro" width="300" height="80" frameborder="0"
            allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      </td>
    </ng-container>
  
    <!-- Columna de Seleccionar con icono de corazón -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>Favorito</th>
      <td mat-cell *matCellDef="let item">
        <mat-icon 
          class="heart-icon" 
          [ngClass]="{'selected': item.selected}" 
          (click)="toggleSelection(item)">
          {{ item.selected ? 'favorite' : 'favorite_border' }}
        </mat-icon>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['title', 'select']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['title', 'select']"></tr>
  </table>
  
  <!-- Sección para mostrar las portadas de las canciones seleccionadas -->
  <div *ngIf="selectedSongs.length > 0" class="music-selec">
    <h2>Músicas favoritas</h2>
    <div class="selected-songs">
      <mat-card *ngFor="let song of selectedSongs" class="musicSelec">
        <p class="nomMusic">Canción: {{ song.name }}</p>
        <p class="nomArtists"> • Artistas: {{ getArtistsNames(song.artists) }}</p>
        <p class="nomAlbum"> • Álbum: {{ song.album.name }}</p>
        <p class="tiempo"> • Duración: {{ duracion(song.duration_ms) }}</p>
      </mat-card>
    </div>
  </div>
  